 <div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel-group">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Überschrift 1
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Überschrift 2
                        </h4>
                    </div>
                </a>                            
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Überschrift 3
                        </h4>
                    </div>
                </a>                            
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        Überschrift 4
                        </h4>
                    </div>
                </a>                            
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>