 <div class="row">
    <div class="col-sm-6 col-md-3">
        <div align="center">
            <div class="panel-group">
                <div class="panel panel-default">
                    <a class="panel-default" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <u>Überschrift 1</u>
                            </h4>
                        </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Inhalt
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
    <div class="col-sm-6 col-md-3">
        <div align="center">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <a class="panel-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <u>Überschrift 2</u>
                            </h4>
                        </div>
                    </a>                            
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Inhalt
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-6 col-md-3">
    <div align="center">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <u>Überschrift 3</u>
                        </h4>
                    </div>
                </a>                            
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div align="center">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a class="panel-default" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <u>Überschrift 4</u>
                        </h4>
                    </div>
                </a>                            
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Inhalt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
